/* IMPORTS */
@import url('bootstrap');
@import url('bootstrap-icons');
/* UTILITY */

/* GENERICS */
img {
  max-width: 100%;
}



/*--------HEADER--------*/

/* Navbar */
.main-logo {
  display: none;
  width: 400px;
}

.logo {
  width: 100px;

}

/*--------MAIN--------*/

/* Card */

.img-container {
  aspect-ratio: 1/1.5;
  overflow: hidden;
}

.img-container>img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}



/* Single Card */
.movie-img-container {
  overflow: hidden;
  text-align: center;
}

.movie-img-container > img {
  object-fit: cover;
  object-position: center;
}
/*@MEDIA-QUERY@*/

/* Header Media Query */


@media screen and (min-width: 768px) {
  .logo {
    display: none;
  }

  .main-logo {
    display: block;
  }
}